@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

<h3>Ir para / Go to:</h3>

<a href="@Url.Action("Parent1", "Home", new { Area = "" })">Parent 1</a>
<br />
<a href="@Url.Action("Parent2", "Home", new { Area = "" })">Parent 2</a>